<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>A</string>
		<key>cityes</key>
		<array>
			<string>澳门</string>
			<string>安徽省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>B</string>
		<key>cityes</key>
		<array>
			<string>北京市</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>cityes</key>
		<array>
			<string>重庆市</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>F</string>
		<key>cityes</key>
		<array>
			<string>福建省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>G</string>
		<key>cityes</key>
		<array>
			<string>广东省</string>
			<string>广西省</string>
			<string>贵州省</string>
			<string>甘肃省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>H</string>
		<key>cityes</key>
		<array>
			<string>河北省</string>
			<string>黑龙江省</string>
			<string>河南省</string>
			<string>湖北省</string>
			<string>湖南省</string>
			<string>海南省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>J</string>
		<key>cityes</key>
		<array>
			<string>江苏省</string>
			<string>吉林省</string>
			<string>江西省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>L</string>
		<key>cityes</key>
		<array>
			<string>辽宁省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>N</string>
		<key>cityes</key>
		<array>
			<string>内蒙古</string>
			<string>宁夏</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Q</string>
		<key>cityes</key>
		<array>
			<string>青海省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>S</string>
		<key>cityes</key>
		<array>
			<string>山西省</string>
			<string>上海市</string>
			<string>山东省</string>
			<string>四川省</string>
			<string>陕西省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>T</string>
		<key>cityes</key>
		<array>
			<string>天津市</string>
			<string>台湾</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>X</string>
		<key>cityes</key>
		<array>
			<string>西藏</string>
			<string>新疆</string>
			<string>香港</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Y</string>
		<key>cityes</key>
		<array>
			<string>云南省</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Z</string>
		<key>cityes</key>
		<array>
			<string>浙江省</string>
		</array>
	</dict>
</array>
</plist>
