*{padding:0px;margin:0px;font-family:"微软雅黑";font-size:100%; font-style:normal}
dd,dl,dt,em,i,p,textarea,a,div{padding:0px;margin:0px;}
a:link,a:visited{text-decoration:none;}
a:hover,a:active{text-decoration:none;}
img{border:0px;}
ul,li{padding:0px;margin:0px;list-style:none;}
.fl{ float:left}
.fr{ float:right}
body{margin:0px; padding:0px;}


.agree{width: 638px; margin: 0 auto; background-color: #fff; border: 1px solid #d8d8d8;}
.agree .content{ width: 558px; -webkit-overflow-scrolling: touch; padding: 35px 40px 100px 40px;}
.agree .content h1{ font-size: 34px; color: #333; text-align: center; margin-bottom: 40px;}
.agree .content h2{ font-size: 30px; color: #333; line-height: 30px;}
.agree .content p{ font-size: 28px; color: #666; line-height: 45px; text-indent: 2em; margin-top: 20px; margin-bottom: 20px;}
.agree .content .bold{ font-weight: bold; color: #333;}
.agree .bottom{ position: fixed; bottom: 0; width: 636px; height: 78px;  background-color: #fff; border: 1px solid #d8d8d8; border-bottom: none; text-indent: 999;}
